.contactcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; 
    min-height: calc(100vh - 200px);
    box-sizing: border-box;
}





form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-top: 10px;
    color: rgb(3, 53, 12);
    font-size: 22px;
    font-weight: bold;
    align-self: flex-start;
    text-shadow: 0, 0, 0, 1.0;
    
    
}

form label:hover {
    color:rgb(156, 238, 171);
    text-shadow: 0, 0, 0, 2.0;
}

form input[type="text"],
form textarea {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 5px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 1.7);
}

form input[type="Submit"] {
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 1.7);
}

.submit-button {
    padding: 20px 20px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: #4caf50;
    color: white;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1.0);
}

.submit-button:hover {
    color:rgb(136, 243, 149);
    background-color: rgb(4, 51, 13); 
}

@media (max-width: 600px) {
    form input[type="text"],
    form textarea {
      width: 80%;
      /* other styles */
    }
  }
  
